@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Roboto+Mono:wght@400;600&display=swap');

:root{
     --cor-primaria: #65647C; /*#3E3E63;*/
    --cor-secundaria: #e6e6fa; /*#e6e6fa*/
    --cor-tercearia: #ada57d; /*#ada57d*/
    --cor-hover: #272727;  /*#272727*/

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Roboto Mono', monospace;
    --fonte-tercearia: 'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 13%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-tercearia);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.paragrafo1_dest{
    color: lightsalmon;
}

.apresentacao{
    padding: 4% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.titulo_destaque{
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.375rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__nav{
    /* background-color: #ADA57D; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color:var(--cor-secundaria);
}

.apresentacao__links__nav:hover{
    background-color: var(--cor-hover);   
}

.apresentacao__img{
    width: 65%;
    padding: 24px;
    border-radius: 48px;
}

.rodape{
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-tercearia);
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    background-color: var(--cor-tercearia);
}

@media(max-width: 1200px){
    .cabecalho{
        padding: 6%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }

}